@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

/* ul{
	list-style:none;
} */


html, body{
	padding:0;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family:nt;
}

form {
	background:#E9E9E9;
	height:1070px;
	width:479px;
	border-radius:10px;
	margin-top:13px;
	box-shadow: 6px 6px 12px -5px rgb(88 88 88);
	
	padding:15px;
	
}

.info_header {
	width:100%;
	height:180px;
	border-bottom: 4px solid #090909;
	
	display:flex;
	flex-direction:column;
	justify-content:end;
	padding-bottom:15px;
}

.info_header > div {
	margin: 5px 5px
}

.info_header_name {
	font-size:25px;
	font-weight:900;
	
}

.contact {
	font-weight:700;
}

.info_header_intro {
	font-weight:100;
}


.info_main {
	display:flex;
	height:calc(100% - 180px);
	padding:15px;
	position: relative;
}

.left_section{
	width:136px;
	height:100%;
	/* border-right:1px solid #a9a9a9; */
}

.right_section {
	width:calc(100% - 136px);
	height:100%;
}

li {
	border:none;
}
.li {
	display:flex;
	flex-direction:column;
	margin: 10px 10px 0 0;
}

.li_head {
	font-weight:900px;
	font-size:16px;
}

.li_body {
	font-size:12px;
}

.career_header {
	display:flex;
	justify-content: space-between;
	align-items:center;
}

.bottom {
	position:absolute;
	height:25px;
	right:10px;
	bottom:0px;
}
.bot_button {
	display:flex;
	justify-content: space-between;
	align-items:center;
	font-size:15px;
}

.bot_button > span {
	cursor:pointer;
	width:60px;
}

.bot_button > span:hover {
	font-weight:1000;
}