@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

ul{
	list-style:none;
}


html, body{
	padding:0;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family:nt;
}


table td tr {
	width: 100%;
}


td {
	border: 1px solid black;
	padding: 4px;
	border-collapse: collapse;
}

td div {
	font-size: 10px;
}

.form {
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	padding-left:5px;
	padding-right:5px;
}

.notice0 {
	font-size: 11px;
}

.ttitle {
	font-size: 20px;
	
}

.info {
	width: 800px;
	margin-bottom: 20px;
}

.info2 {
	margin: auto;
}

.thead {
	background: #957C6E;
	width: 200px;
	font-size: 11px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}

.tbody {
	width: 800px;
}

.id {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.password {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.adress {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.writername {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buis_linc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main_career {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.save_or {
	display: flex;
	justify-content: center;
	align-items: center;
}

.save_or span {
	margin: 3px;
}

span {
	margin-bottom: 2px;
}

.signin {
	display: flex;
	justify-content: right;
}

.notice {
	color: #EA7C39;
}

