@font-face{
   font-family:"nt";
   font-style:normal;
   src:url(../font/notosans/NotoSansKR-Medium.otf) format('opentype');
}


*{
	box-sizing:border-box;
	/* padding 으로 사이즈 늘어남 방지 */
}

ul{
	list-style:none;
}


html, body{
	padding:0;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family:nt;
}


/* <basic> */
th, tr, td {
	border: 1px solid black;
	font-size: 12px;
}

tr {
	width : 960px;
}

th, td {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

thead {
	background: #C2DEF3;
}

ul {
	margin-top: 20px;
	margin-bottom: 1px;
	padding-left: 20px;
}


table {
width:100%;

}
/* <basic> */
.header table{
	height:30px;
}

.title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* resume */
.resume.tb_1 td, tr {
	height: 10px;
	padding: 0;
}

/* resume */

.resume {
	font-size: 8px;
	width:700px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:auto;
}

.title {
	font-size: 20px;
}

